.table {
  border-collapse: collapse;
}

.tableHeader {
  border: 1px solid black;
  background-color: rgb(55, 53, 53);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.tableData {
  border: 1px solid black;
  width: 130px;
  font-size: 15px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.tableDataType {
  text-align: start;
  padding-left: 30px;
}
tbody .tableRow:nth-child(even) {
  background-color: rgb(192, 193, 193);
}
tbody .tableRow:hover {
  background-color: rgb(145, 143, 143);
}
